/***********************************************************************/
/* Application Stylesheets */
/***********************************************************************/
@import 'stylesheets/base.pcss';

.ant-alert {
  margin-bottom: 24px !important;
}
